# List

*    iteration operation with loop
*    apply any operation on element

In [1]:
name:list[str] = ["sami" , "Taha"]
print(name)

['sami', 'Taha']

In [12]:
name:list[str] = ["sami" , "Taha","Faiq"]
for name in name:
    print(name)

sami
Taha
Faiq

In [13]:
names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
DR Noman

# java script way

Sir Zia
Muhammad Qasim
DR Noman

names = names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for(i=0; i<names.length; i++){
    names[i]
}

In [23]:
name:list[str] = ["sami" , "Taha","Faiq"]
for name in name:
    print(name)

sami
Taha
Faiq

In [32]:
name:list[str] = ["sami" , "Taha","Faiq"]
for name in name:
    print(f'Welcome Dear Teacher {name.title()} ')
    print("generative AI\n")
print("pakistan zinda bad")

Welcome Dear Teacher Sami
generative AI

Welcome Dear Teacher Taha
generative AI

Welcome Dear Teacher Faiq
generative AI

pakistan zinda bad

In [34]:
name:list[str] = ["sami" , "Taha","Faiq"]
for name in name[1:]:
    print(f'Welcome Dear Teacher {name.title()} ')

Welcome Dear Teacher Taha
Welcome Dear Teacher Faiq

# TUPLE

In [38]:
    # Tuple
data_base:list[tuple[str,str]] = [("sami","123"),(
    "Taha","456"),("faiq","123")]

for rew in data_base:
      print(rew)

('sami', '123')
('Taha', '456')
('faiq', '123')

In [42]:
    # Tuple
data_base:list[tuple[str,str]] = [("sami","123"),(
    "Taha","456"),("faiq","123")]

for rew in data_base:
     user, password = rew
     print(f"User: {user} , Passord {password}")

User: sami , Passord 123
User: Taha , Passord 456
User: faiq , Passord 123

In [1]:
data_base:list[tuple[str,str]] = [("sami","123"),(
    "Taha","456"),("faiq","123")]
input_User: str = input("Enter User Name")

input_Password: str = input("Enter User Name")

for rew in data_base:
     user, password = rew
     if input_User == user and input_Password == password:
         print("valid User")
         break
else:
    print("not found")
    #  print(f"User: {user} , Passord {password}")

In [57]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [58]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Number With Loop
 * range(start,end,step)

In [47]:
range(10)

range(0, 10)

In [48]:
list(range(10))# starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(2,10))# starting=0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list(range(2,21,2))# starting=0, ending = n-1 21-1=20, step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [52]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [55]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive

for item in items_list:
    loop_body

## Comprehensive Style

[loop_body for item in items_list]

In [59]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [62]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:2] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel']

# Tuples

In [63]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [64]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment